<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>viewer.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogAuth</servlet-name>
        <servlet-class>controller.LogAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>viewer.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>viewer.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>viewer.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMail</servlet-name>
        <servlet-class>viewer.AddMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMails</servlet-name>
        <servlet-class>controller.addMails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletemail</servlet-name>
        <servlet-class>controller.deletemail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEditmail</servlet-name>
        <servlet-class>viewer.ViewEditmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editmail</servlet-name>
        <servlet-class>controller.editmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ideas</servlet-name>
        <servlet-class>viewer.Ideas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogAuth</servlet-name>
        <url-pattern>/LogAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMail</servlet-name>
        <url-pattern>/AddMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMails</servlet-name>
        <url-pattern>/addMails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletemail</servlet-name>
        <url-pattern>/deletemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEditmail</servlet-name>
        <url-pattern>/ViewEditmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editmail</servlet-name>
        <url-pattern>/editmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ideas</servlet-name>
        <url-pattern>/Ideas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
        
</web-app>
